PORT=5000
NODE_ENV=development
CLIENT_URL=https://dgnl.vercel.app
MONGODB_URI=mongodb+srv://hieu:Hieu01032004.@cluster0.dbiooay.mongodb.net/dgnl?retryWrites=true&w=majority
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=7d
ADMIN_SEED_USERNAME=lythaythuan
ADMIN_SEED_PASSWORD=lythaythuan
